@import url("../index.css");
body h2 {
  display: none;
}

body header {
  background-image: url("../../Illustrations/Game/Batgame1.png");
  background-size: cover;
}

body header .play h1 {
  letter-spacing: 2px;
  padding: 10% 0 768px 0;
}

body .game1 .question {
  line-height: 100px;
}

body .game1 .question .choice {
  width: 600px;
  background-color: rgba(188, 187, 189, 0.5);
  margin-bottom: 10px;
  height: 30px;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

body .game1 .question .choice input {
  width: 20px;
  height: 20px;
}
